@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
body {
  background-color: rgb(39, 39, 39);
}

#start {
  margin-top: 15%;
  margin-left: 38%;
  position: absolute;
  font-size: 50pt;
  font-family: "Calibri";
  background-color: rgb(15, 240, 15);
  border-radius: 10px;
  width: 20%;
}
#start:hover {
  background-color: rgb(67, 158, 67);
  cursor: pointer;
}

#stats {
  font-size: 10pt;
  font-family: "Press Start 2P";
  color: white;
  position: absolute;
  margin-top: 30%;
}

.finish {
  z-index: 2;
  position: absolute;
  border: 1px solid white;
  border-radius: 10px;
  margin-left: 20%;
  margin-top: 8%;
  width: 60%;
  padding-bottom: 2%;
  text-align: center;
}

.finish p:first-of-type {
  font-size: 70pt;
  color: white;
  font-family: "Franklin Gothic Medium";
  margin-bottom: 2%;
}
.finish p {
  font-size: 25pt;
  color: black;
  font-family: "Calibri";
}

.finish button {
  font-family: "Calibri";
  font-size: 28pt;
  margin-top: 1%;
  background-color: white;
  border-radius: 10px;
  padding: 1%;
  margin-right: 3%;
}
.finish button:hover {
  background-color: rgb(187, 184, 184);
  cursor: pointer;
}
#gameOverDiv {
  background-color: red;
}
